footer {
    background: var(--background);
    margin-top: 80px;
    color: var(--text-color);
}

.footer {
    text-align: center;
    padding: 25px;
}

.footer a {
    color: var(--primary-color);
}

/*Responsividade*/
@media (max-width: 768px) {
    .footer {
        padding: 10px;
    }

    .footer p {
        font-size: 0.75rem;
    }
}